/*typography*/
h1, h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #062aca;
}

p, a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #332600;
}

/*layout*/

/*media*/


