/*typography*/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #332600;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #062aca;
}



/*layout*/

/*media*/